@model Car
@{
    ViewData["Title"] = "Edit Car Details";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Car</h2>
            <hr />
        </div>
        <input asp-for="CarId" hidden />
        <div class="mb-3">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Transmission"></label>
            <div class="input-group mb-3">
                <select class="form-select" asp-for="Transmission">
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
            </div>
            <span asp-validation-for="Transmission" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PlateNumber"></label>
            <input asp-for="PlateNumber" class="form-control" />
            <span asp-validation-for="PlateNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SeatNumber"></label>
            <input asp-for="SeatNumber" class="form-control" />
            <span asp-validation-for="SeatNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Car" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Cancel
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}